# Copy this file to secrets.toml and fill in your credentials.
# secrets.toml is gitignored and should never be committed.

[sources.postgres_crm]
credentials = "postgresql://user:password@localhost:5432/crm_db"

[sources.postgres_timesheet]
credentials = "postgresql://user:password@localhost:5432/timesheet_db"

[sources.mariadb_erp]
credentials = "mysql+pymysql://user:password@localhost:3306/erp_db"

[destinations.warehouse]
credentials = "postgresql://user:password@localhost:5432/warehouse_db"






credentials = "postgresql://odoo:odoo@10.22.4.47:15432/mydb"